{% if publicationListItems.length %}
  <section class="[ publication-list ] [ pad-top-700 gap-bottom-900 ]">
    <div class="[ inner-wrapper ] [ sf-flow ]">
      <h2 class="[ publication-list__heading ] [ text-700 md:text-800 ]">{{ postListHeading }}</h2>
      <ol class="[ publication-list__items ] [ sf-flow ] [ pad-top-300 ]" reversed>
        {% for item in publicationListItems %}
          {% if item.date.getTime() <= global.now %}
            <li class="publication-list__item">
              <h3 class="font-base leading-tight text-600 weight-mid">
                <a href="{{ item.data.url }}" class="publication-list__link" rel="bookmark">{{ item.data.title }}</a>
              </h3>
              <!-- Add the conference name below the title -->
              {% if item.data.conference %}
                <p class="conference-name text-500 gap-top-300 weight-mid">
                  Conference: {{ item.data.conference }}
                </p>
              {% endif %}
              <p class="text-500 gap-top-300 weight-mid">
                <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
              </p>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}
